.place-list {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 10px;
}

@media (min-width: 768px) {
  .place-list {
    flex-direction: row;

  }
}